/* Font -------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

/* Reset Browser Styles ---------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}