/* My Colors --------------------------------------------- */

:root {
	--black: #000000;
	--white: #FFFFF0;
	--green: #32CD32;
}


/* Typography ------------------------------------------- */

h1, #getloan { font-size: 1em; font-weight: 500; margin-bottom: 1.3em; }
h2 { font-size: 1.4em; font-weight: 900; margin-bottom: 1.3em; }
p { font-size: 1em; }
li, a { font-size: 1.1em;  }